# All the environment variables that can be used in the application are defined here.
FRAMEWORK_APP_VERBOSE = true
FRAMEWORK_APP_DEBUG = true
FRAMEWORK_APP_PORT = ":3000"
FRAMEWORK_CONFIG_PATH = "./cmd/conf"
FRAMEWORK_LOG_FILENAME = "go-framework.log"
FRAMEWORK_LOG_PATH = "/var/log/"
FRAMEWORK_LOG_DEBUG = false
FRAMEWORK_STORAGE_TYPE = "memory"
FRAMEWORK_STORAGE_TIMEOUT = 5
FRAMEWORK_STORAGE_MONGOURI = "mongodb://user:pass@host:port"
